body {
  background-color: #00c2a2;
}
.prompt {
  background-color: #e6e6e6;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
}
.DraftEditor-root {
  margin: auto;
  padding: 50px;
  padding-bottom: 50px;
  width: 80%;
  display: inline-block;
}

.DraftEditor-editorContainer {
  font-size: 1.5em;
  line-height: 35px;
  font-family: 'Cabin', sans-serif;
  color: #222;
  overflow: auto;
  background-color: #f7f5f5;
  min-height: 150px;
  overflow: auto;
  padding: 30px;
  border: 3px solid gray;
}

.next-button {
  width: 200px;
  height: 50px;
  margin: 50px;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
  box-shadow: 5px 5px 25px black;
  font-size: 20px;
}

.editAlert {
  background-color: #9c2bde;
  color: #f7f5f5;
  border: 3px solid #f7f5f5;
}
.changeContainer {
  background-color: lightgray;
  padding: 30px;
  max-width: 1000px;
}

.changeList {
  list-style: none;
  background-color: #f7f5f5;
  font-size: 20px;
  font-family: 'Cabin';
  padding: 1px;
  margin: 10px;
  border-radius: 5px;
}

.changeList select {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  float: right;
  position: relative;
  box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
  top: -70px;
  right: 10px;
}

.changeText {
  background-color: #f7f5f5;
  font-size: 30px;
  font-family: 'Cabin';
  line-height: 35px;
  margin: 30px;
  padding: 10px;
}

.added {
  color: green;
  font-weight: bold;
}

.removed {
  color: red;
  text-decoration: line-through;
  font-weight: bold;
}

.catAdded {
  color: darkorchid;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Patrick Hand';
}

.catRemoved {
  color: crimson;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Patrick Hand';
}

.divider {
  padding-left: 5px;
  padding-right: 5px;
  color: gray;
  text-shadow: 1px 2px 3px #666;
}
.changeItem {
  padding-left: 10px;
}
.noChanges {
  width: 80%;
  margin: auto;
  height: 60px;
  background-color: #f7f5f5;
  font-size: 30px;
  text-align: center;

}
